.sheet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    gap: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.createPJ {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.createPJ input, button {
    width: 100%;
}

.atributesInputs {
    width: 40%;
    display: grid;
    grid-template-areas: 
    '. agi .'
    'for . int'
    'vig . pres';
    gap: 10px;
    justify-items: center; 
    justify-self: center;
    align-items: center;
    text-align: center;
}

#agi { grid-area: agi; width: 40%; display: flex; align-items: center; flex-direction: column;}
#for { grid-area: for; width: 40%; display: flex; align-items: center; flex-direction: column;}
#int { grid-area: int; width: 40%; display: flex; align-items: center; flex-direction: column;}
#vig { grid-area: vig; width: 40%; display: flex; align-items: center; flex-direction: column;}
#pre { grid-area: pres; width: 40%; display: flex; align-items: center; flex-direction: column;}

.atributesInputs input {
    border-radius: 20%;
}

.agents-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.card-agente {
    background-color: #494949;
    padding: 10px;
    border-radius: 10%;
}

.card-agente-btn:hover {
    border-color: #ff0000;
    transform: scale(1.05);
    cursor: pointer;
}

.containerViewSheet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atributes {
    width: 20%;
    display: grid;
    grid-template-areas: 
    '. agi .'
    'for . int'
    'vig . pres';
    text-align: center;
    padding: 1rem;
}

.atribute {
    border: none;
    background: none;
}

.atribute:hover {
    cursor: pointer;
    color: plum;
}